body{
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(134,220,102,1) 61%, rgba(253,237,45,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

.grid-item{
    border:1px solid;
    justify-content: right;
    align-items: center;
}
.reset-button{
    margin: 10px;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.reset-button:hover{
    cursor: pointer;
    transition: 0.1s ease-in-out;
    opacity: 50%;
    transform: scale(0.99);
}

#game{
    border-radius: 10px;
    width: 100%;
}

.board{
    display:grid;
    margin:10px;
    grid-template-columns:repeat(10,30px);
    padding:10px; 
    justify-content: center;
    align-items: center;
}
.cell{
    width:30px;
    height:30px;
    border:solid 1px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.cell:hover{
    opacity: 50%;
}
.cell.open {
    background-color: #eee;
    cursor: default;
}